scikit-learn
streamlit 
pandas
plotly
matplotlib
streamlit-option-menu
numpy
setuptools
utide
PyGithub
streamlit
streamlit-folium
pandas
numpy
plotly
geopandas
shapely
folium
rasterio
pyproj
fiona
rtree
requests
